
<div *ngIf="user$ | async as user">
  <span class="user-id">{{user.id}}</span>
  <span class="user-last-name">{{user.lastName}}</span>
  <span class="user-first-name">{{user.firstName}}</span>
  <span class="user-gender">{{user.gender | gender}}</span>
</div>
